input {
    padding: 1rem .7rem;
}

label {
    font-size: .9rem;
    font-weight: 100;
}

.control-input {
    display: flex;
    gap: .7rem;
    width: 100%;
    margin-bottom: 3rem;
}

.control-input input::placeholder {
    font-size: 1rem;
    opacity: .5;
}

.container-input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #adadad;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* variantes */
.outline {
    font-size: 1.3rem;
    padding: .7rem;
    border: 0;
    background-color: var(--darkviolet);
    outline: none;
}