input {
    padding: 1rem .7rem;
}

.control-input {
    display: flex;
    gap: .7rem;
    width: 100%;
    margin-bottom: 1rem;
}

.control-input input::placeholder {
    opacity: .5;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* variantes */
.outline {
    font-size: 1.3rem;
    padding: .7rem;
    border: 0;
    border-bottom: 1px solid #adadad;
    outline: none;
}