.calculator-imc {
    width: 350px;
    min-height: 450px;
    padding: 2rem;
    border: 0;
    border-radius: 25px;
    background-color: var(--darkviolet);
}

.control-button {
    margin-top: 2rem;
}

.icons {
    font-size: 12px;
    fill: var(--gray);
}