.calculator-imc {
    max-width: 400px;
    padding: 1rem;
    border: 0;
    border: 1px solid black;
    border-radius: 5px;
}

h2 {
    margin-bottom: 2rem;
}

.control-button {
    margin-top: 2rem;
}